<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
  "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.estore.dao.BookMapper">
	<!-- 查询点击量最高的三本书 -->
	<select id="selectBookByClick" resultType="Book">
		select * from es_book
		order by click desc
		limit 3;
	</select>
	<select id="selectAllBook" resultType="Book">
		select * from es_book;
	</select>
	
	<!-- 按照id查询书籍 -->
	<select id="selectBookById" resultType="Book" parameterType="Integer">
		select * from es_book
		where id = #{id}
	</select>
	<!-- 更新书籍的信息 -->
	<update id="updateBook" parameterType="Book">
		update es_book
		<set>
			<if test="name!=null">name=#{name},</if>
			<if test="price!=null">price=#{price},</if>
			<if test="author!=null">author=#{author},</if>
			<if test="publisher!=null">publisher=#{publisher},</if>
			<if test="pubDate!=null">pubDate=#{pubDate},</if>
			<if test="description!=null">description=#{description},</if>
			<if test="image!=null">image=#{image},</if>
			<if test="click>0">click=#{click},</if>
		</set>
			where id =#{id}
		
	</update>
	<!-- 根据栏目id查询书籍 -->
	<select id="selectBookByCateId" parameterType="int" resultType="Book">
		select * from es_book
		where
		category_id=#{cateId}
	</select>
	<!-- 根据栏目id查询点击量最高的三本书籍 -->
	<select id="selectBookByCateIdAndClick" parameterType="int" resultType="Book">
		select * from es_book
		where category_id=#{cateId}
		order by click desc limit 3
	</select>
</mapper>